pyrogram==1.3.6
py-tgcalls==0.9.0
TgCrypto
git+https://github.com/Sorrybabe/downloader
youtube_dl
python-dotenv
youtube_search_python 
requests
aiohttp
aiofiles
youtube_search
asyncio
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow
ujson
